/* 普通卡片 */
.card {
  transition: all 0.2s ease;
}

/* 选中后的卡片（全局穿透 antd） */
:global(.ant-card.cardChecked),
:global(.ant-card.cardChecked .ant-card-body) {
  background-color: #E0F2E1 !important;
  border-color: #C3D899 !important;
}