/* 默认基准 */
html {
  font-size: 16px;
}

/* 手机端 */
@media (max-width: 768px) {
  html { font-size: 14px; }
}

/* 平板端 */
@media (min-width: 769px) and (max-width: 1024px) {
  html { font-size: 16px; }
}

/* 桌面端 */
@media (min-width: 1025px) {
  html { font-size: 18px; }
}

/* 使用 rem 定义具体文字 */
.title {
  font-size: 1.5rem; /* 在 14px 基准下为 21px，在 18px 基准下为 27px */
}

/* a, button, [onclick] {
    -webkit-tap-highlight-color: transparent !important;
}
button:focus:not(:focus-visible) {
    outline: none;
} */